.coach-card {
  width: 23.16%;
  max-width: 278px;
  height: auto;
  min-height: 377px;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

  @include vp-1199 {
    min-width: 206px;
    max-width: none;
  }

  @include vp-767 {
    margin: 0 auto;
    min-width: 290px;
    min-height: 385px;
    width: 83%;
    padding-bottom: 3px;
  }
}

.coach-card__photo {
  padding: 20px 20px 15px 20px;
  width: 100%;
  height: auto;

  @include vp-1199 {
    padding: 0;
    overflow: hidden;
    margin: 15px 0 17px 0;
  }

  @include vp-767 {
    padding: 0 20px;
    margin: 20px auto 15px auto;
    height: auto;
  }

  img {
    @include vp-1199 {
      margin: auto;
      width: 85%;
      height: auto;
      min-width: 176px;
      min-height: 212px;
      object-fit: contain;
    }

    @include vp-767 {
      width: 100%;
      min-width: 250px;
    }
  }
}

.coach-card__information {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 20px;

  @include vp-1199 {
    padding: 0 15px;
  }

  @include vp-767 {
    width: 100%;
    min-width: 290px;
    column-gap: 55%;
    padding: 0 20px;
    justify-content: space-between;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 12px 4px;
    margin-top: 3px;
    border: 1px solid rgba(3, 10, 26, 0.1);

    &:hover,
    &:focus,
    &:focus-visible {
      border-color: $color-elephant;
      outline: none;
    }

    &:active {
      color: $color-default-white;
      background-color: $color-navy-blue;
    }

    &:disabled {
      color: rgba($color-elephant, 0.3);
    }

    @include vp-767 {
      margin-right: 12px;
    }

    svg {
      fill: $color-elephant;
    }
  }

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 15px;
    text-align: start;

    @include vp-1199 {
      line-height: 18px;
    }

    @include vp-767 {
      width: 250px;
    }
  }
}

.coach-card__name {
  width: 89.4%;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: start;
  margin: 0 0 14px;

  @include vp-1199 {
    width: 85.4%;
    margin-bottom: -1px;
  }

  @include vp-767 {
    width: 30%;
    margin-bottom: 1px;
  }
}

.coach-card__information a:active svg {
  fill: $color-default-white;
}
