.education {
  position: relative;
  z-index: 2;

  @include vp-767 {
    padding-top: 0;
  }
}

.education__container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 43px 119px 38px;
  margin: 0 auto;
  overflow: hidden;

  @include vp-1199 {
    width: 100%;
    min-width: 768px;
    padding: 5px 46px 0;
  }

  @include vp-767 {
    min-width: 290px;
    width: 100%;
    padding: 10px 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 30px;
    left: 0;
    background-color: $color-navy-blue;
    opacity: 0.2;
  }

  @include vp-1199 {
    &::before {
      background: url("../img/svg/line-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      content: "";
      width: 100%;
      bottom: 93px;
      display: block;
      height: 68px;
    }

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    &::before {
      background: url("../img/svg/line-mobile.svg");
      background-repeat: no-repeat;
      position: absolute;
      content: "";
      width: 100%;
      bottom: 23px;
      left: 19px;
      display: block;
      height: 200px;
    }
  }

  & > p {
    text-align: start;
    margin-bottom: 57px;
    max-width: 800px;

    @include vp-1199 {
      max-width: 524px;
      margin-bottom: 67px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 17px;
    }
  }

  h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: start;
    margin-bottom: 12px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 2px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 0;
      margin-left: 0;
    }
  }
}

.education__title {
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin: 29px 0 27px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 29px 0 18px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    max-width: 156px;
    margin: 29px 0 0;
  }

  span {
    font-size: 55px;
    line-height: 55px;
    opacity: 3%;
    margin: -50px 0 0;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
      margin: -38px 0 0;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      margin: -25px 0 -14px;
    }
  }
}

.education__wrapper {
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.education__swiper {
  max-width: 1230px;
  min-height: 377px;
  height: 100%;
  padding: 30px 0;

  @include vp-1199 {
    padding-bottom: 26px;
  }

  @include vp-767 {
    padding: 0;
    margin: 0;
  }
}

.education__slider {
  position: relative;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0;
    z-index: -1;
    width: 100px;
    box-shadow: -15px -7px 30px 0 rgba(28,51,116,.1);

    @include vp-767 {
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: auto;
    z-index: -1;
    width: 100px;
    box-shadow: 15px 7px 30px 0 rgba(28,51,116,.1);

    @include vp-767 {
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }

  @include vp-767 {
    margin: 10px 0 6px;
  }
}

.education__process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 47px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1187px;
  position: relative;

  @include vp-1199 {
    justify-content: start;
    column-gap: 84px;
    row-gap: 17px;
    max-width: 678px;
    margin: 0;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 25px;
    margin: 0;
    padding: 14px 35px 16px;
  }

  li {
    display: flex;
    flex-direction: row;
    max-width: 278px;
    padding: 28px 0;

    @media (min-width: 1200px) and (max-width: 1439px) {
      max-width: 21%;
    }

    @include vp-1199 {
      padding: 37px 0;
      gap: 14px;
      max-width: 268px;
    }

    @include vp-767 {
      padding: 0;
      gap: 8px;
      max-width: 210px;
    }

    svg {
      align-self: center;
      min-width: 25px;
      width: 25px;
      height: 25px;
      margin-right: 4.9%;

      @include vp-1199 {
        width: 25px;
        height: 25px;
        margin-right: 0;
      }

      @include vp-767 {
        align-self: start;
        width: 19px;
        height: 18px;
        margin-top: 6px;
      }
    }

    p {
      font-size: 16px;
      width: 236px;
      display: block;
      margin: auto 0;
      text-align: start;

      @include vp-1199 {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }

      @include vp-767 {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.education__title--process {
  @include vp-767 {
    margin-left: 2px;
  }
}

.education__process li:nth-child(1) {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    bottom: -13px;
    left: 0;
    background-color: $color-navy-blue;
    border-radius: 50%;
  }

  @include vp-1199 {
    &::before {
      display: none;
    }
  }

  @include vp-767 {
    &::after {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      top: 35%;
      left: -30px;
      background-color: $color-navy-blue;
      border-radius: 50%;
    }
  }
}

.education__process li:nth-child(2) {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    bottom: -13px;
    left: 0;
    background-color: $color-navy-blue;
    border-radius: 50%;
  }

  @include vp-1199 {
    &::before {
      display: none;
    }
  }

  @include vp-767 {
    &::after {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      top: 35%;
      left: -30px;
      background-color: $color-navy-blue;
      border-radius: 50%;
    }
  }
}

.education__process li:nth-child(3) {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    bottom: -13px;
    left: 0;
    background-color: $color-navy-blue;
    border-radius: 50%;
  }

  @include vp-1199 {
    order: 3;

    &::before {
      display: none;
    }
  }

  @include vp-767 {
    position: relative;
    order: 3;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      top: 35%;
      left: -30px;
      background-color: $color-navy-blue;
      border-radius: 50%;
    }
  }

  @include vp-1199 {
    &::before {
      display: none;
    }
  }
}

.education__process li:nth-child(4) {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    bottom: -13px;
    left: 0;
    background-color: $color-navy-blue;
    border-radius: 50%;
  }

  @include vp-1199 {
    &::before {
      display: none;
    }
  }

  @include vp-767 {
    order: 4;
    width: 220px;

    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      top: 35%;
      left: -30px;
      background-color: $color-navy-blue;
      border-radius: 50%;
    }
  }
}

.education__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: end;

  @include vp-767 {
    margin-top: -42px;
  }
}

.education__swiper-next,
.education__swiper-prev {
  position: absolute;
  content: "";
  top: 25.7%;
  right: 122.5px;
  width: 37px;
  height: 37px;
  background-color: $color-navy-blue;
  z-index: 55;

  @media (min-width: 1200px) and (max-width: 1439px) {
    top: 23.2%;
  }

  @include vp-1199 {
    top: 209px;
    right: 45.5px;
    width: 37.5px;
  }

  @include vp-767 {
    position: unset;
    top: unset;
    right: unset;
  }

  svg {
    display: block;
    margin: 14px auto;
  }
}

.education__swiper-prev {
  right: 164px;

  @include vp-1199 {
    right: 85.5px;
  }

  @include vp-767 {
    right: unset;
  }
}

br {
  @include vp-1199 {
    display: none;
  }
}
