.footer__wrapper {
  display: grid;
  column-count: 3;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 19px 14px 29px 88px;
  gap: 20px;

  @include vp-1199 {
    column-count: 2;
    padding: 31px 19px 30px;
    gap: 30px;
    column-gap: 65px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 31px 4px 30px;
    gap: 20px;
  }
}

.footer__logo {
  display: block;
  position: relative;
  top: 13px;
  outline: none;

  @include vp-767 {
    position: unset;
    top: 0;
    height: 34px;
  }

  svg {
    width: 205px;
    height: 62px;
    color: $color-elephant;
    cursor: pointer;

    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-resolution-blue;
      outline: none;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:default {
      color: $color-navy-blue;
      opacity: 0.1;
    }

    @include vp-1199 {
      width: 118px;
      height: 34px;
    }

    @include vp-767 {
      width: 112px;
      height: 34px;
    }
  }
}

.footer__menu {
  @media (min-width: 1366px) {
    margin-right: 64px;
  }

  @include vp-1199 {
    grid-column-start: 2;
    grid-column-end: 4;

  }

  @include vp-767 {
    margin-top: -6px;
  }
}

.footer__tel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 18px;
  padding: 33px 0;
  cursor: pointer;

  a {
    font-family: $ff-montserrat;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    color: $color-elephant;

    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-resolution-blue;
      outline: none;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:default {
      color: $color-navy-blue;
      opacity: 0.1;
    }
  }

  @include vp-1199 {
    display: none;
    width: 0;
    height: 0;
  }

  @include vp-767 {
    display: none;
    width: 0;
    height: 0;
  }
}

.footer__social {
  grid-column : span 3;
  justify-self: center;
  font-family: $ff-montserrat;
}

.footer__privacyPolicy {
  grid-column : span 3;
  justify-self: center;

  font-family: $ff-montserrat;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:default {
    color: $color-navy-blue;
    opacity: 0.1;
  }

  @include vp-1199 {
    margin-top: -10px;
  }

  @include vp-767 {
    margin-top: unset;
  }
}
