.hero {
  width: 100%;

  .container {
    padding: 0;
  }
}

.hero__slider {
  position: relative;
  z-index: 2;

  @include vp-1199 {
    display: flex;
    justify-content: center;
  }
}

.hero__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero__item {
  position: relative;
  background-size: cover;
  background-color: $color-elephant;
  list-style-type: none;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 800px;
  padding: 107px 0 0 0;

  &:focus-visible {
    outline: 2px solid $color-resolution-blue;
    outline-offset: -5px;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 0 0 0;
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
    padding: 139px 16px 39px;
  }
}

.hero__content {
  position: relative;
  padding: 74px 0 0;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 1200px) and (max-width: 1439px) {
    max-width: fit-content;
  }

  @include vp-1199 {
    position: relative;
    padding: 0;
    max-width: 100%;
    margin: 0;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  max-width: 944px;
  width: fit-content;

  @include vp-1199 {
    margin: 0 auto;
    max-width: 670px;
    width: 100%;
    align-items: center;
  }

  @include vp-767 {
    margin: 0;
    max-width: 100%;
  }

  h2 {
    font-style: normal;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    color: $color-default-white;
    text-align: left;
    position: relative;
    margin: 0 0 23px 0;
    padding: 0;
    max-width: 945px;
    z-index: 5;

    @include vp-1199 {
      padding-top: 50px;
      margin: 0 0 13px 0;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
    }

    @include vp-767 {
      padding: 0;
      font-size: 30px;
      line-height: 30px;
    }
  }

  p {
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: $color-default-white;
    text-align: left;
    margin: 0 0 37px;
    padding: 0;
    max-width: 464px;

    @include vp-1199 {
      max-width: 462px;
      margin: 0 0 27px 0;
      text-align: center;
    }

    @include vp-767 {
      max-width: 100%;
      margin-bottom: 22px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.hero__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $color-default-white;
  text-align: center;
  display: block;
  width: 220px;
  margin-bottom: 150px;
  padding: 21px 5px;
  background-color: $color-navy-blue;

  &:hover,
  &:focus {
    outline: 1px solid $color-elephant;
    background-color: $color-default-white;
    color: $color-elephant;
  }

  &:active {
    outline: none;
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  &:disabled {
    outline: none;
    background-color: $color-resolution-blue;
    color: $color-disabled-button;
  }

  @include vp-1199 {
    display: block;
    width: 206px;
    margin: 0 auto 478px;
  }

  @include vp-767 {
    width: 180px;
    margin-bottom: 0;
    padding: 18px;
  }
}

.hero__info {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
  gap: 11px;
  max-width: 377px;
}

.hero__info-item {
  display: flex;
  flex-direction: row;
  gap: 9px;
  padding: 14px 16px 13px 20px;
  border: 1px solid $color-default-white;
  align-items: center;

  @include vp-1199 {
    display: none;
  }

  span {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: $color-default-white;
    text-align: start;
  }
}

.hero__icon {
  svg {
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
    color: $color-default-white;
  }
}

.hero__video {
  position: absolute;
  width: 482px;
  height: 317px;
  top: 193px;
  right: 0;
  background-color: $color-resolution-blue;
  z-index: 4;

  @include vp-1199 {
    top: inherit;
    bottom: 149px;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 1;
    width: 442px;
    height: 300px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__videoplayer {
  position: absolute;
  width: 100%;
  height: 100%;

  @include vp-1199 {
    aspect-ratio: 442/300;
  }
}

.hero__background {
  display: flex;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  img {
    width: 100%;
    object-fit: fill;
  }
}

.hero__polaroid {
  position: absolute;
  width: 410px;
  height: 459px;
  right: 1px;
  top: 94px;
  z-index: 1;

  @include vp-1199 {
    width: 442px;
    height: 365px;
    right: auto;
    left: 114px;
    top: 366px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio {
  position: absolute;
  top: 192px;
  right: 0;

  iframe {
    width: 340px;
    height: 180px;
    border: none;
  }

  @include vp-1199 {
    right: 50%;
    top: 401px;
    transform: translate(50%, 0);
  }

  @include vp-767 {
    display: none;
  }

  button {
    position: absolute;
    padding: 0;
    content: "";
    width: 50px;
    height: 50px;
    top: 71%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $color-resolution-blue;
    border: none;
    z-index: 3;
    cursor: pointer;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color-default-white;
      outline: none;
      border: 1px solid $color-resolution-blue;
    }

    &:active {
      background-color: $color-default-white;
    }

    &:disabled {
      border: 1px solid $color-disabled-button;
    }

    &:hover svg,
    &:focus svg,
    &:focus-visible svg {
      stroke: $color-default-black;
      color: $color-default-white;
      outline: none;
    }

    &:active svg {
      stroke: $color-resolution-blue;
    }

    &:disabled svg {
      stroke: $color-disabled-button;
      color: $color-disabled-button;
    }

    svg {
      position: relative;
      margin: 5px 0 0 5px;
    }
  }
}

.hero__audioplayer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 11.9px;

  @include vp-767 {
    margin-right: 8px;
  }
}

.swiper .hero__pagination {
  position: absolute;
  bottom: 17px;
  left: auto;
  right: -3px;
  width: 100px;
  height: 10px;
  z-index: 5;
  margin: 0;
  cursor: pointer;
  text-align: start;
  display: flex;
  gap: 6px;
  justify-content: flex-end;

  @include vp-1199 {
    margin: 0 auto;
    left: 0;
    right: 32px;
    bottom: 21px;
  }

  @include vp-767 {
    justify-content: center;
    top: 381px;
    bottom: 0;
    right: 0;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  opacity: 1;

  &:focus-visible {
    opacity: 0.5;
    outline: none;
  }

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.swiper .swiper-pagination-bullet-active {
  background: $color-default-white;
}
