.photogallery__swiper {
  width: 100%;
  min-height: 449px;

  @include vp-767 {
    min-height: 260px;
  }
}

.photogallery__wrapper {
  align-items: stretch;
  column-gap: 0;

  @include vp-767 {
    height: 259px;
  }
}

.photogallery__container {
  position: relative;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  h2 {
    position: relative;
    width: 546px;
    margin: -2px 120px 23px;
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    text-align: start;

    @include vp-1199 {
      width: 394px;
      margin: 2px 45px 23px;
      font-size: 25px;
      line-height: 25px;
    }

    @include vp-767 {
      width: 185px;
      padding: 0;
      margin: 0 15px;
      font-size: 22px;
      line-height: 22px;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 55px;
      font-weight: 800;
      line-height: 55px;
      opacity: 0.03;

      @include vp-1199 {
        left: 0;
        bottom: -7%;
        font-size: 40px;
        line-height: 40px;
      }

      @include vp-767 {
        font-size: 26px;
        line-height: 26px;
        margin: 0;
      }
    }
  }

  p {
    width: 693px;
    margin: 0 120px 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;

    @include vp-1199 {
      width: 395px;
      margin: 0 45px 37px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    @include vp-767 {
      width: 100%;
      margin: 0;
      padding: 0 15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}

.photogallery__slide {
  display: flex;
  flex-direction: column;
  row-gap: 5.19px;
  height: auto;
  width: auto !important;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @include vp-767 {
    row-gap: 3px;
  }
}

.photogallery__slide-wrapper {
  @include vp-767 {
    height: 259px;
  }
}

.photogallery__slide-wrapper1,
.photogallery__slide-wrapper2 {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.photogallery__slide:nth-child(odd) {
  .photogallery__slide-wrapper {
    img {
      @include vp-767 {
        height: 259px;
      }
    }
  }
}

.photogallery__slide:nth-child(even) {
  .photogallery__slide-wrapper1,
  .photogallery__slide-wrapper2 {
    img {
      @include vp-767 {
        width: 172px;
      }
    }
  }
}

.photogallery__button {
  position: absolute;
  content: "";
  top: 10.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  right: 8.4%;

  @include vp-1199 {
    top: 10.2%;
    right: 6%;
  }

  @include vp-767 {
    position: unset;
    justify-content: end;
    margin-right: 15px;
  }
}

.photogallery__swiper-next,
.photogallery__swiper-prev {
  width: 37px;
  height: 37px;
  background-color: $color-navy-blue;

  svg {
    display: block;
    margin: 14px auto;
  }
}
