.reviews {
  padding: 19px 0 0;

  @include vp-1199 {
    padding: 22px 0 20px;
  }

  @include vp-767 {
    padding: 4px 0 22px;
  }
}

.reviews__container {
  margin: 0 0 0 100px;
  padding: 0 0 0 20px;
  max-width: 1319px;
  overflow: hidden;
  position: relative;

  @include vp-1199 {
    margin: 0;
    padding: 0 45px 40px;
  }

  @include vp-767 {
    padding: 0 15px 15px;
    margin: 0;
    min-width: 290px;
    max-width: 100%;
  }
}

.reviews__swiper {
  h2 {
    position: relative;
    width: 542px;
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    text-align: start;
    margin: 14px 0 27px;

    @include vp-1199 {
      font-size: 25px;
      line-height: 25px;
      width: 394px;
      margin: 16px 0 27px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      width: 156px;
      padding: 0;
      margin: 20px 0 35px;
    }

    span {
      position: absolute;
      bottom: -15%;
      left: 0;
      font-size: 55px;
      font-weight: 800;
      line-height: 55px;
      opacity: 0.03;


      @include vp-1199 {
        font-size: 40px;
        line-height: 40px;
      }

      @include vp-767 {
        font-size: 26px;
        line-height: 26px;
        bottom: -4%;
      }
    }
  }
}

.reviews__wrapper {
  blockquote {
    max-width: 790px;
    min-height: 293px;
    margin: 0;
    padding: 20px 40px 20px 20px;
    display: flex;
    flex-wrap: no-wrap;
    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
    background-color: $color-default-white;

    @include vp-1199 {
      width: 560px;
      min-height: 277px;
      height: unset;
      padding: 18px 10px 10px 19px;
    }

    @include vp-767 {
      max-width: 100%;
      min-width: 290px;
      min-height: 466px;
      height: 100%;
      flex-direction: column;
      gap: 16px;
      margin: 0;
      padding: 20px 19px;
    }
  }
}

.reviews__avatar {
  width: auto;
  height: auto;

  @media (min-width: 1200px) and (max-width: 1439px) {
    height: 297px;
  }

  @include vp-1199 {
    height: 169px;
    width: 35%;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 253px;
    object-fit: cover;

    @media (min-width: 1200px) and (max-width: 1439px) {
      height: 100%;
    }

    @include vp-1199 {
      height: auto;
    }

    @include vp-767 {
      width: 100%;
      min-width: 250px;
      min-height: 169px;
    }
  }
}

.reviews__text {
  width: 61%;
  margin-left: 4.1%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0 15px;

  @include vp-1199 {
    width: 57.35%;
    height: 95%;
    margin-left: 6%;
    padding: 2px 0 0;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
    height: 55%;
    gap: 11px;
  }
}

.reviews__review {
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    margin: 0;
    margin-bottom: 10px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    @include vp-767 {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.reviews__autor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 14px;
  gap: 10px;

  @include vp-1199 {
    gap: 7px;
    padding-top: 6px;
  }

  @include vp-767 {
    padding-top: 10px;
    gap: 0;
  }

  cite {
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    font-style: normal;
    text-align: start;
    margin: 0;

    @include vp-1199 {
      line-height: 1;
      letter-spacing: -0.66px;
      padding-top: 12px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0;
      padding: 0;
      margin-top: -4px;
      margin-bottom: 8px;
    }
  }

  span {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    text-align: start;
    margin: 0;
    padding: 0;
  }
}

.reviews__swiper-prev {
  position: absolute;
  content: "";
  top: -2px;
  right: 141px;
  width: 37px;
  height: 37px;
  background-color: $color-navy-blue;
  z-index: 55;

  @media (min-width: 1200px) and (max-width: 1380px) {
    right: 17.8%;
  }

  @include vp-1199 {
    width: 36px;
    height: 36px;
    right: 88px;
  }

  @include vp-767 {
    top: 2.4%;
    right: 56px;
    height: 35px;
  }

  svg {
    display: block;
    margin: 14px auto;
  }
}

.reviews__swiper-next {
  position: absolute;
  content: "";
  top: -2px;
  right: 98px;
  width: 37px;
  height: 37px;
  background-color: $color-navy-blue;
  z-index: 55;

  @media (min-width: 1200px) and (max-width: 1380px) {
    right: 14.1%;
  }

  @include vp-1199 {
    width: 36px;
    height: 36px;
    right: 45px;
  }

  @include vp-767 {
    top: 2.4%;
    right: 15px;
    height: 35px;
  }

  svg {
    display: block;
    margin: 14px auto;
  }
}
