.slider-states:hover,
.slider-states:focus-visible {
  background-color: $color-default-white;
  border: 1px solid  $color-resolution-blue;
}

.slider-states:hover svg,
.slider-states:focus-visible svg {
  stroke: $color-resolution-blue;
  fill: $color-resolution-blue;
}

.slider-states:active {
  background-color: $color-resolution-blue;
}

.slider-states:active svg {
  stroke: $color-default-white;
}

.slider-states:disabled {
  background-color: $color-disabled-button;
  stroke: $color-default-white;
  opacity: 10%;
}
