.toggle {
  display: none;

  @include vp-1199 {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    padding: 0;
    padding-top: 32px;
    color: $color-default-white;
    background-color: $color-transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &.is-opened {
      padding: 0;
    }
  }

  @include vp-767 {
    padding: 20px 0 0;
  }
}

.toggle .toggle__closed {
  display: none;
  opacity: 0;
}

.toggle.is-opened .toggle__opened {
  display: none;
}

.toggle.is-opened .toggle__closed {
  display: inline;
  color: $color-elephant;
  opacity: 1;
  margin: 38px 5px 0 0;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    opacity: 0.1;
  }

  @include vp-767 {
    margin: 16px 5px 0 0;
  }
}


.toggle__opened, .toggle__closed {
  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    opacity: 0.1;
  }
}
