.tours {
  margin-top: 700px;
  position: relative;

  @include vp-1199 {
    margin-top: 923px;
  }

  @include vp-767 {
    margin-top: 493px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 839px;
    height: 279px;
    background-image: url("../../img/tours/tours-clouds@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 65%;
    left: 0;
    z-index: -1;

    @include vp-1199 {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 602px;
    height: 1364px;
    background-image: url("../../img/tours/clouds-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: -10%;
    right: 0;
    z-index: -1;

    @include vp-1199 {
      background-image: url("../../img/tours/clouds-tablet@2x.png");
      background-size: contain;
      width: 294px;
      height: 1373px;
      top: -14%;
      right: 0;
    }

    @include vp-767 {
      background-image: url("../../img/tours/clouds-mobile@2x.png");
      width: 176px;
      height: 595px;
      top: 22%;
      right: 0;
    }
  }
}

.tours__container {
  position: relative;
  padding: 46px 120px 0;
  max-width: 1440px;

  @media (min-width: 1200px) and (max-width: 1439px) {
    padding: 46px 20px 0;
  }

  @include vp-1199 {
    padding: 60px 45px 0;
  }

  @include vp-767 {
    padding: 37px 15px 0;
  }
}

.tours__swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-1199 {
    padding: 0 5px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.tours__title {
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin: 29px 0 48px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 29px 0 40px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    max-width: 156px;
    margin: 29px 0;
  }

  span {
    font-size: 55px;
    line-height: 55px;
    opacity: 3%;
    margin: -50px 0 0;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
      margin: -38px 0 0;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 23px;
      margin: -47px 0 0;
    }
  }
}

.tours__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  display: flex;

  @include vp-1199 {
    max-width: 678px;
  }
}

.tours__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: $color-default-white;
  width: 380px;
  min-height: 412px;
  position: relative;
  padding: 0 20px 28px;
  text-align: start;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(
      --overlay-60,
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 11.9%, rgba(0, 0, 0, 0) 100%));
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 20px 0 37px;
    padding: 0 70px 0 0;
    z-index: 2;

    @include vp-1199 {
      padding: 0 35px 0 0;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin: 15px 0 28px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background-color: $color-default-white;
      opacity: 0.3;
      left: 20px;
      bottom: 80px;

      @include vp-767 {
        bottom: 72px;
      }
    }
  }
}

.tours__item--caucasus {
  background-color: $color-elephant;
  background-image: url("../img/tours/caucasus-desktop@2x.webp");
  background-size: cover;
}

.tours__item--altai {
  background-color: $color-elephant;
  background-image: url("../img/tours/altai-desktop@2x.webp");
  background-size: cover;

  .tours__location {
    @include vp-1199 {
      width: 92px;
    }
  }
}

.tours__item--adygea {
  background-color: $color-elephant;
  background-image: url("../img/tours/adygea-desktop@2x.webp");
  background-size: cover;
}

.tours__option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.tours__option--1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;

  @include vp-767 {
    max-width: 183px;
    row-gap: 10px;
  }
}

.tours__option--2 {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.tours__location {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  background-color: $color-navy-blue;
  padding: 7px 10px 7px 24px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: start;
  align-items: center;

  svg,
  span {
    display: block;
  }

  @include vp-1199 {
    width: 98px;
    padding: 7px 10px 7px 16px;
  }

  @include vp-767 {
    order: 3;
  }
}

.tours__days {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  padding: 5px 0 7px 30px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;

  @include vp-1199 {
    width: 91px;
    padding: 5px 0 7px 12px;
  }

  @include vp-767 {
    gap: 14px;
    padding: 0;
  }
}

.tours__nights {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  padding: 5px 0 7px 24px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;

  @include vp-1199 {
    width: 91px;
    padding: 5px 0 7px 9px;
    gap: 8px;
  }

  @include vp-767 {
    gap: 14px;
    padding: 0;
  }
}

.tours__level {
  width: 79px;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-767 {
    width: 85px;
  }
}

.tours__data {
  width: 88px;
  min-height: 32px;
  gap: 6px;
  display: flex;
  flex-direction: column;

  strong {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }
}

.tours__group {
  width: 71px;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  strong {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }
}

.tours__swiper-next,
.tours__swiper-prev {
  position: absolute;
  content: "";
  top: 10.7%;
  right: 8.3%;
  width: 37px;
  height: 36px;
  background-color: $color-navy-blue;

  @media (min-width: 1200px) and (max-width: 1439px) {
    top: 11%;
    right: 2%;
  }

  @include vp-1199 {
    top: 12%;
    right: 6%;
  }

  @include vp-767 {
    top: 11.2%;
    right: 15px;
  }

  svg {
    display: block;
    margin: 14px auto;
  }
}

.tours__swiper-prev {
  right: 11.3%;

  @media (min-width: 1200px) and (max-width: 1439px) {
    right: 5.3%;
  }

  @include vp-1199 {
    right: 11%;
  }

  @include vp-767 {
    right: 56.5px;
  }
}

.tours__more {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $color-elephant;
  display: block;
  text-align: center;
  padding: 52px 0;
  cursor: pointer;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    padding: 27px 0;
  }

  a {
    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-resolution-blue;
      outline: none;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:disabled {
      color: color-disabled-button;
    }
  }
}
