.tours {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 839px;
    height: 279px;
    background-image: url("../img/tours/tours-clouds@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 65%;
    left: 0;
    z-index: -1;

    @include vp-1199 {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 602px;
    height: 1364px;
    background-image: url("../img/tours/clouds-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: -10%;
    right: 0;
    z-index: -1;

    @include vp-1199 {
      background-image: url("../img/tours/clouds-tablet@2x.png");
      background-size: contain;
      width: 294px;
      height: 1373px;
      top: -14%;
      right: 0;
    }

    @include vp-767 {
      background-image: url("../img/tours/clouds-mobile@2x.png");
      width: 176px;
      height: 595px;
      top: 22%;
      right: 0;
    }
  }
}

.tours__container {
  position: relative;
  padding: 96px 120px 0;
  max-width: 1440px;

  @include vp-1199 {
    padding: 60px 45px 0;
  }

  @include vp-767 {
    padding: 37px 15px 0;
  }

  .container {
    @include vp-1199 {
      padding: 59px 46px 0;
    }
  }
}

.tours__container [data-content]::before {
  position: absolute;
  content: attr(data-content);
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  opacity: 0.03;
  top: 104px;
  left: 120px;

  @include vp-1199 {
    font-size: 40px;
    line-height: 40px;
    top: 77px;
    left: 45px;
  }

  @include vp-767 {
    top: 64px;
    left: 15px;
    width: 100%;
    max-width: 190px;
    font-size: 26px;
    line-height: 26px;
  }
}

.tours__swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-1199 {
    padding: 0 5px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.tours__title {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin: 27px 0 54px;

  @include vp-1199 {
    margin: 29px 0 41px;
  }

  @include vp-767 {
    max-width: 156px;
    margin: 29px 0 28px;
  }
}

.tours__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  display: flex;
  box-sizing: content-box;
  height: 100%;

  @include vp-1199 {
    max-width: 678px;
  }
}

.tours__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: $color-default-white;
  width: 380px;
  min-height: 412px;
  height: auto;
  position: relative;
  padding: 28px 21px 28px;
  text-align: start;
  object-fit: cover;
  background-size: cover;
  aspect-ratio: 380/412;

  @include vp-1199 {
    object-fit: contain;
    background-position: center 0;
    aspect-ratio: 324/412;
  }

  @include vp-767 {
    padding: 26px 17px 26px 20px;
    background-position: 0 center;
    background-size: 100% 100%;
    aspect-ratio: 290/370;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(
      --overlay-60,
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 11.9%, rgba(0, 0, 0, 0) 100%));
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 20px 0 37px;
    padding: 0 70px 0 0;
    z-index: 2;

    @include vp-1199 {
      padding: 0 35px 0 0;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin: 15px 0 30px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background-color: $color-default-white;
      opacity: 0.3;
      left: 20px;
      bottom: 80px;

      @include vp-767 {
        bottom: 72px;
      }
    }
  }
}

.tours__item--caucasus {
  background-color: $color-elephant;
  background-image: url("../img/tours/caucasus-desktop@2x.webp");
  background-size: cover;
}

.tours__item--altai {
  background-color: $color-elephant;
  background-image: url("../img/tours/altai-desktop@2x.webp");
  background-size: cover;

  .tours__location {
    @include vp-1199 {
      width: 92px;
    }
  }
}

.tours__item--adygea {
  background-color: $color-elephant;
  background-image: url("../img/tours/adygea-desktop@2x.webp");
  background-size: cover;
}

.tours__option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.tours__option--1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;

  @include vp-767 {
    max-width: 183px;
    row-gap: 10px;
  }
}

.tours__option--2 {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.tours__location {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  background-color: $color-navy-blue;
  padding: 7px 10px 7px 24px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: start;
  align-items: center;

  svg,
  span {
    display: block;
  }

  @media (min-width: 1200px) and (max-width: 1439px) {
    height: 29px;
    width: fit-content;
  }

  @include vp-1199 {
    width: 98px;
    padding: 7px 10px 7px 16px;
  }

  @include vp-767 {
    order: 3;
  }
}

.tours__days {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  padding: 5px 0 7px 30px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;

  @media (min-width: 1200px) and (max-width: 1439px) {
    padding: 0;
    width: auto;
  }

  @include vp-1199 {
    width: 91px;
    padding: 5px 0 7px 12px;
  }

  @include vp-767 {
    gap: 14px;
    padding: 0;
  }
}

.tours__nights {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  padding: 5px 0 7px 24px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;

  @media (min-width: 1200px) and (max-width: 1439px) {
    padding: 0;
    width: auto;
  }

  @include vp-1199 {
    width: 91px;
    padding: 5px 0 7px 9px;
    gap: 8px;
  }

  @include vp-767 {
    gap: 14px;
    padding: 0;
  }
}

.tours__level {
  width: 79px;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-767 {
    width: 78px;
  }

  svg {
    @include vp-767 {
      width: 73px;
    }
  }
}

.tours__data {
  width: 88px;
  min-height: 32px;
  gap: 6px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 83px;
  }

  strong {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;

    @include vp-767 {
      font-size: 12px;
    }
  }
}

.tours__group {
  width: 71px;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-1199 {
    width: 69px;
  }

  @include vp-767 {
    width: 66px;
  }

  strong {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;

    @include vp-767 {
      font-size: 12px;
    }
  }
}

.tours__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: end;
  position: absolute;
  top: 122px;
  right: 120px;

  @include vp-1199 {
    top: 82px;
    right: 45px;
  }

  @include vp-767 {
    margin: -31px 0 30px;
    top: 100px;
    right: 15px;
  }
}

.tours__swiper-next,
.tours__swiper-prev {
  width: 37px;
  height: 36px;
  background-color: $color-navy-blue;
  cursor: pointer;

  svg {
    display: block;
    margin: 14px auto;
  }
}

.tours__more {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $color-elephant;
  display: block;
  text-align: center;
  padding: 52px 0;
  cursor: pointer;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    padding: 27px 0;
  }

  a {
    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-resolution-blue;
      outline: none;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:disabled {
      color: color-disabled-button;
    }
  }
}
