.tours {
  margin-top: 700px;
  position: relative;

  @include vp-1199 {
    margin-top: 923px;
  }

  @include vp-767 {
    margin-top: 493px;
  }
}

.tours__container {
  padding: 46px 120px 0;
  max-width: 1440px;

  @media (min-width: 1200px) and (max-width: 1439px) {
    padding: 46px 20px 0;
  }

  @include vp-1199 {
    padding: 60px 45px 0;
  }

  @include vp-767 {
    padding: 37px 15px 0;
  }
}

.tours__swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-1199 {
    padding: 0 5px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.tours__title {
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin: 29px 0 48px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 29px 0 40px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    max-width: 156px;
    margin: 29px 0 14px;
  }

  span {
    font-size: 55px;
    line-height: 55px;
    opacity: 3%;
    margin: -50px 0 0;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
      margin: -38px 0 0;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      margin: -38px 0 0;
    }
  }
}

.tours__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  display: flex;

  @include vp-1199 {
    max-width: 678px;
  }
}

.tours__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: $color-default-white;
  width: 380px;
  min-height: 412px;
  position: relative;
  padding: 0 20px 28px;
  text-align: start;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(
      --overlay-60,
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 11.9%, rgba(0, 0, 0, 0) 100%));
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 20px 0 37px;
    padding: 0 70px 0 0;
    z-index: 2;

    @include vp-1199 {
      padding: 0 35px 0 0;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin: 15px 0 28px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background-color: $color-default-white;
      opacity: 0.3;
      left: 20px;
      bottom: 80px;

      @include vp-767 {
        bottom: 72px;
      }
    }
  }
}

.tours__item--caucasus {
  background-color: $color-elephant;
  background-image: url("../img/tours/caucasus-desktop@2x.webp");
  background-size: cover;
}

.tours__item--altai {
  background-color: $color-elephant;
  background-image: url("../img/tours/altai-desktop@2x.webp");
  background-size: cover;

  .tours__location {
    @include vp-1199 {
      width: 92px;
    }
  }
}

.tours__item--adygea {
  background-color: $color-elephant;
  background-image: url("../img/tours/adygea-desktop@2x.webp");
  background-size: cover;
}

.tours__option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.tours__option--1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;

  @include vp-767 {
    max-width: 183px;
    row-gap: 10px;
  }
}

.tours__option--2 {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;

  @include vp-767 {
    max-width: 250px;
  }
}

.tours__location {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  background-color: $color-navy-blue;
  padding: 7px 10px 7px 24px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: start;
  align-items: center;

  svg,
  span {
    display: block;
  }

  @include vp-1199 {
    width: 98px;
    padding: 7px 10px 7px 16px;
  }

  @include vp-767 {
    order: 3;
  }
}

.tours__days {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  padding: 5px 0 7px 30px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;

  @include vp-1199 {
    width: 91px;
    padding: 5px 0 7px 12px;
  }

  @include vp-767 {
    gap: 14px;
    padding: 0;
  }
}

.tours__nights {
  width: 108px;
  min-height: 29px;
  height: fit-content;
  padding: 5px 0 7px 24px;
  text-align: end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;

  @include vp-1199 {
    width: 91px;
    padding: 5px 0 7px 9px;
    gap: 8px;
  }

  @include vp-767 {
    gap: 14px;
    padding: 0;
  }
}

.tours__level {
  width: 79px;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-767 {
    width: 85px;
  }
}

.tours__data {
  width: 88px;
  min-height: 32px;
  gap: 6px;
  display: flex;
  flex-direction: column;

  strong {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }
}

.tours__group {
  width: 71px;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  strong {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }
}

.tours__swiper-prev,
.tours__swiper-next {
  position: absolute;
  content: "";
  top: 10.6%;
  width: 37px;
  height: 37px;
  background-color: $color-navy-blue;

  svg {
    display: block;
    margin: 14px auto;
  }

  @include vp-1199 {
    top: 12%;
  }

  @include vp-767 {
    top: 11.2%;
    width: 36px;
    height: 36px;
  }
}

.tours__swiper-prev {
  left: 86.2%;

  @media (min-width: 1200px) and (max-width: 1439px) {
    left: 91.7%;
  }

  @include vp-1199 {
    left: 84%;
  }

  @include vp-767 {
    left: 71%;
  }
}

.tours__swiper-next {
  right: 8.3%;

  @media (min-width: 1200px) and (max-width: 1439px) {
    right: 1.7%;
  }

  @include vp-1199 {
    right: 5.9%;
  }

  @include vp-767 {
    right: 4.9%;
  }
}

.tours__more {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $color-elephant;
  display: block;
  text-align: center;
  padding: 52px 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    padding: 27px 0;
  }
}
